@import "./settings.scss";
@import "./typography.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text-light;
  background: $color-background;
  font-family: $font-text;
  min-height: 100vh;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.container {
  margin: 1rem auto;
  min-height: calc(100vh - 14rem);
}

